[mariadb]
host-cache-size=0
skip-name-resolve

[mysqld]
pid-file                = /run/mysqld/mysqld.pid
basedir                 = /usr
expire_logs_days        = 10
character-set-server  = utf8mb4
collation-server      = utf8mb4_general_ci

bind-address = 0.0.0.0
port = 3306

event_scheduler=ON

max_connections=512
max_prepared_stmt_count=65535
max_allowed_packet=256M
innodb_buffer_pool_size = 4G
innodb_log_file_size = 512M
innodb_undo_log_truncate = ON
innodb_flush_method = O_DIRECT
innodb_io_capacity = 1000
transaction-isolation = READ-COMMITTED
